.rev-button {
  border: solid 2px #ffffff;
  border-radius: 100px;
  text-align: center;
  width: auto;
  height: auto;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #ffffff; }

.navbar {
  background-color: RGBA(0, 0, 0, 0);
  padding-left: 40px;
  padding-right: 40px; }
  @media screen and (max-width: 720px) {
    .navbar {
      padding-left: 15px;
      padding-right: 15px; } }
  .navbar .navbar-brand {
    padding-left: 0px; }
  .navbar .nav-item {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px; }
  .navbar #nav-menu {
    margin-top: 18px; }
  .navbar #nav-contattaci {
    border: solid 2px #ffffff;
    border-radius: 100px;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 6px 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin-top: 18px;
    margin-bottom: 7px; }

body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

.container-full-width {
  width: 100vw; }

#welcome-section {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to top, #fd853f, #5a09d8); }
  #welcome-section .balloon-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 45vw;
    height: 100vh;
    background-image: linear-gradient(to top, #fd853f 0%, #5a09d8 100%), url("../images/air-balloon-cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    opacity: 0.6;
    z-index: 0; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      #welcome-section .balloon-container {
        /* on retina, use image that's scaled by 2 */
        background-image: linear-gradient(to top, #fd853f 0%, #5a09d8 100%), url("../images/air-balloon-cover@2x.png"); } }
  #welcome-section .welcome-text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    #welcome-section .welcome-text .welcome-title {
      margin: auto;
      width: 90vw;
      max-width: 672px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 4.2rem;
      text-shadow: 0 2px 3px rgba(101, 64, 130, 0.4);
      color: #ffffff;
      text-transform: uppercase; }
      @media screen and (max-width: 720px) {
        #welcome-section .welcome-text .welcome-title {
          font-size: 2.2rem; } }
    #welcome-section .welcome-text .separator {
      margin: auto;
      width: 90vw;
      max-width: 950px;
      height: 2px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff 51%, rgba(255, 255, 255, 0)); }
    #welcome-section .welcome-text .welcome-subtitle {
      margin: auto;
      width: 90vw;
      max-width: 500px;
      font-size: 1.8rem;
      line-height: 1.4;
      text-align: center;
      text-shadow: 0 2px 4px #af64b1;
      font-family: AGaramondPro;
      color: #ffffff;
      text-shadow: 0 2px 4px #af64b1; }
  #welcome-section .show-more {
    margin: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s; }
    #welcome-section .show-more .show-more-text {
      width: 130px;
      height: 1.4rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.4rem;
      color: #ffffff;
      margin: auto;
      text-align: center; }
    #welcome-section .show-more .show-more-arrow svg {
      display: block;
      margin: auto; }

#presentation-section {
  height: 1000px; }

/*# sourceMappingURL=main.css.map */
