.rev-button {
    border: solid 2px #ffffff;
    border-radius: 100px;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}
