.section-with-image {
    display: block;
    @media #{$tablet} {
        display: table;
        height: 100vh;
    }
    @media #{$desktop} {
        display: table;
        height: 100vh;
    }

    .section-content,
    .section-image {
        display: block;
        @media #{$tablet} {
            display: table-cell;
        }
        @media #{$desktop} {
            display: table-cell;
        }
    }

    .section-image {
        width: 100vw;
        height: 25vh;
        @media #{$tablet} {
            width: 30vw;
        }
        @media #{$desktop} {
            width: 30vw;
        }
    }

    .section-content {
        width: 100vw;
        height: 75vh;
        padding: 9vw 5vw;
        @media #{$tablet} {
            width: 70vw;
        }
        @media #{$desktop} {
            width: 70vw;
        }
    }

    .section-content-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        @media #{$tablet} {
            font-size: 3rem;
        }
        @media #{$desktop} {
            font-size: 5rem;
        }
        font-weight: 500;
        color: #4a4a4a;
    }

    .section-content-divider {
        width: 15vw;
        min-width: 100px;
        height: 3px;
        margin-top: 4vh;
        border: solid 2px #979797;
    }

    .section-content-desc {
        max-width: $screen-sm-min;
        width: 100vw * 0.8;
        margin-top: 5vh;
        font-family: AGaramondPro;
        font-size: 1.6rem;
        @media #{$tablet} {
            font-size: 1.8rem;
        }
        @media #{$desktop} {
            font-size: 1.8rem;
        }
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.14;
        letter-spacing: normal;
        color: #4a4a4a;
        @media #{$tablet} {
            width: 70vw * 0.8;
        }
        @media #{$desktop} {
            width: 70vw * 0.8;
        }
    }
}
