@import "breakpoints";
@import "buttons";
@import "section-with-image";
@import "navbar";
@import "hero";
@import "values";
@import "whoweare";
@import "projects";


$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
    font: 100% $font-stack;
    color: $primary-color;
}

.container-full-width {
    width: 100vw;
}
